.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: white;
    border-bottom: 1px solid #ddd;
}

.navbar-logo {
    width: 120px;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-right a {
    margin-right: 20px;
    text-decoration: none;
    color: #333;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: white;
    color: #333;
    padding: 10px 20px;
    border: 1px solid #ddd;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}
/* Sidebar styles */
.sidebar {
    height: 100%; 
    margin-top: 85px;
    width: 5%; 
    border-right: 1px solid #ddd; 
    position: fixed; 
    top: 0; 
    left: 0; 
    background-color: #f4f4f4; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
}

.sidebar-item {
    text-decoration: none; 
    color: #333;
    margin: 20px 0; 
    font-size: 24px; 
}

.sidebar-item:hover {
    color: #007bff;
}

.sidebar svg {
    color: #333; 
    font-size: 30px; 
}

